body {display: flex;  justify-content: center; height:fit-content;background-color:lightslategray; padding-top: 20px;}
/* "display: flex" arranges the elements from left to right instead of the default arrangement
of top to bottom. "justify-content: center" requires "display: flex" to be activated and 
centres the element/s from left to right. "align-items: center" also requires "display: flex"
and centres the element/s from top to bottom.   
/*.globalframe {align-items: center;}*/
.mainframe {
    border-radius: 20px; /* "border-radius" allows corners to be rounded. */
    background-color: white; border: solid black; width: fit-content; padding-left: 20px; padding-right: 20px
}

/* .inputfields {border: dotted greenyellow;} */

.inputbox {
    display: block; /* "block" means that the element will take the width of page/container 
    which will then push other elements to the next line */
    width: 100%; 
    padding: 10px;
    border-radius: 5px;
}

.errormessage {
    font-size: 13px; 
    visibility: hidden;
}

h1 {text-align: center;}



.submitbutton {
    width: 100%;
    background-color: indigo;
    color: white;
    /* border: solid red; */
    padding: 10px;
    border-radius: 5px;
}

/* For correct inputs: */
.inputboxcorrect {
    display: block; /* "block" means that the element will take the width of page/container 
    which will then push other elements to the next line */
    width: 100%; 
    padding: 10px;
    border-color: lightgreen;
    border-radius: 5px;
}
.errormessagehidden {
    font-size: 13px; 
    color: red;
    visibility: hidden;
    padding-left: 5px;
}

/* For incorrect inputs: */
.inputboxincorrect {
    display: block; /* "block" means that the element will take the width of page/container 
    which will then push other elements to the next line */
    width: 100%; 
    padding: 10px;
    border-color: red;
    border-radius: 5px;
}
.errormessagedisplayed {
    font-size: 13px; 
    color: red;
    padding-left: 5px;
}